@model IEnumerable<Products>
<h2 class="header-color">Products</h2>
<div style="display: block">
   <a class="kkbc-a" style="color: white;"  href="/Products/InsertProduct/">Create a New Product</a> 
</div>

<table class="table table-striped  table-light border">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>CatID</th>
        <th>Stock Level</th>
        <th>Price</th>
    </tr>

    @foreach (var product in Model)
    {
        <tr>
            <td><a href=/Products/ViewProduct/@product.ProdID>@product.ProdID</a></td>
            <td>@product.Name</td>
            <td>@product.CatID</td>
            <td>@product.StockLevel</td>
            <td>@product.Price</td>
        </tr>

    }
</table>


