@model Products

<h3 class="header-color">@Model.Name</h3>
<table class="table table-striped  table-light border">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>CatID</th>
        <th>ScentID</th>
        <th>Stock Level</th>
        <th>Price</th>
    </tr>
    <tr>
        <td>@Model.ProdID</td>
        <td>@Model.Name</td>
        <td>@Model.CatID</td>
        <td>@Model.ScentID</td>
        <td>@Model.StockLevel</td>
        <td>@Model.Price</td>
    </tr>
</table>
<div style="display: block">
    <a class="kkbc-a" style="color: white;" href="/Products/UpdateProduct/@Model.ProdID">Update this Product</a>
</div>
<br />
<div style="display: block">
    @using (Html.BeginForm("DeleteProduct", "Products", "Post"))
    {
        <input type="hidden" asp-for="ProdID" value="@Model.ProdID" />
        <input class="btn-danger" type="submit" onclick="return confirm('Are you sure?')" value="Delete this product" />
    }
</div>

