@model IEnumerable<Customers>;

<h2>Customers</h2>

<div style="display: block">
    <a href="/Customers/InsertCustomer/">Create a New Customer</a>
</div>

<table class="table">
    <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Address</th>
        <th>City</th>
        <th>State</th>
        <th>Zipcode</th>
    </tr>

    @foreach (var customer in Model)
    {
        <tr>
            <td><a href=/Customers/ViewCustomer/@customer.CustID>@customer.CustID</a></td>
            <td>@customer.FirstName </td>
            <td>@customer.LastName</td>
            <td>@customer.Address</td>
            <td>@customer.City</td>
            <td>@customer.State</td>
            <td>@customer.ZipCode</td>
        </tr>
    }
</table>
